@model IdiotsAPI.SearchResult

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <style>

        body {
            background-image: url('../Content/images/background.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .iframe {
            position: relative;
        }
    </style>
</head>
<body>
    <div class="col-lg-4">
        <iframe id="adalRenewFramehttps://www.yammer.com/" aria-hidden="true" src="https://login.microsoftonline.com/common/oauth2/authorize?response_type=id_token token&amp;client_id=e1ef36fd-b883-4dbf-97f0-9ece4b576fc6&amp;resource=https%3A%2F%2Fwww.yammer.com%2F&amp;redirect_uri=https%3A%2F%2Fweb.yammer.com%2Fembed%2Fauthredirect&amp;state=cd2af523-c4d2-4d65-89b4-ca427b0bc869%7Chttps%3A%2F%2Fwww.yammer.com%2F%7C1647339029&amp;login_hint&amp;client-request-id=2f69a2b6-8cb0-4395-9cb8-520cbacf7483&amp;x-client-SKU=Js&amp;x-client-Ver=1.0.17&amp;nonce=6f51e141-40c6-49b7-8415-b5ce1efd8f95&amp;prompt=none" style="visibility: hidden; position: absolute; border-width: 0px; height: 0px; width: 0px;"></iframe>
    </div>
    <div class="col-lg-8">
        <h4>SearchResult</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Answer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Answer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Expert)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Expert)
            </dd>
        </dl>
    </div>


</body>
</html>
