@model IdiotsAPI.SearchResult

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/speech-to-text/speech_to_text.js" type="text/javascript"></script>

    <title>Search</title>
    <link rel="stylesheet" href="~/Content/IdiotsStyleSheet.css">
</head>
<body>
    <div class="col-lg-12">
        <h4>Dariel iHub</h4>
        <hr />
        <dl class="dl-horizontal">
            @*<dt>
                @Html.DisplayNameFor(model => model.Answer)
            </dt>*@
    
            <dd>
                Answer : 
            </dd>
    
            @*<dt>
                @Html.DisplayNameFor(model => model.Expert)
            </dt>*@
    
            <dd>
                Experts : 
            </dd>
        </dl>
    </div>


</body>
</html>
